@charset "utf-8";


/* 공통영역 구성 시작 */
.container {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding-top: 180px;
    margin: 0 auto;
}
.title {
    width: 100%;
    margin-bottom: 60px;
    display: flex;
}
.title > div {
    width: 35%;
    height: 50px;
    line-height: 50px;
    font-size: 1.8rem;
    font-weight: 700;
    color: #f00;
    letter-spacing: 4px;
}
.title > h3 {
    width: 65%;
    font-size: 4rem;
    font-weight: 400;
}

/* ********** intro Area Start ********* */
.intro {
    width: 100%;
    height: 100%;
    position: relative;
}

.intro .intro_slick .jarallax.jarallax1 {
    height: 100vh;
    background-image: url(../images/main/main_slide1.jpg);
}
.intro .intro_slick .jarallax.jarallax2 {
    height: 100vh;
    background-image: url(../images/main/main_slide2.jpg);
}
.intro .intro_slick .jarallax.jarallax3 {
    height: 100vh;
    background-image: url(../images/main/main_slide3.jpg);
}
/* caption */
.intro .caption {
    position: absolute;  
    top: 50%;
    left: 55%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

    color: #fff;
}
.intro .caption > div {
    font-size: 2rem;
    margin-bottom: 30px;
    /* 애니메이션용 */
    opacity: 0;
    margin-left: 50px;
}
.intro .caption > h2 {
    font-size: 6.6rem;
    margin-bottom: 30px;
    line-height: 1.2;
    /* 애니메이션용 */
    opacity: 0;
    margin-left: 50px;
}
.intro .caption > p {
    font-size: 2rem;
    margin-bottom: 30px;
    /* 애니메이션용 */
    opacity: 0;
    margin-left: 50px;
}
.intro .caption > a {
    display: inline-block;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    line-height: 40px;
    /* 애니메이션용 */
    opacity: 0;
    margin-left: 50px;
}
.intro .caption.caption2 {
    color: #000;
}
/* 메인슬라이드 좌우 화살표 */
.intro .arrow {
    display: inline-block;
    width: 120px;
    height: 80px;

    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
}
.intro .arrow.arrow_prev {
    left: 10%;
    background: url(../images/main/slide-arrow-prev.png) no-repeat right center;
}
.intro .arrow.arrow_next {
    right: 10%;
    background: url(../images/main/slide-arrow-nxt.png) no-repeat 0 center;
}
.intro .arrow button {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    text-indent: -9999px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}
.intro .arrow button::after {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 50%;
    margin-top: -20px;
    z-index: 1;

    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.intro .arrow_prev button::after {
    left: 15px;
}
.intro .arrow_next button::after {
    right: 15px;
}
.intro .arrow button:hover::after {
    background-color: rgba(255, 255, 255, 0.25);
    z-index: 1;
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -o-transform:scale(1.5);
    -ms-transform:scale(1.5);
    transform:scale(1.5);
}
/* 스크롤 다운 아이콘 */
.intro .scroll_ico {
    position: absolute; 
    left: 50%; 
    top: 90%;
    
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}



/* ********** solution Area Start ********* */
.solution {
    background-color: #F2F2F2;
}
.solution .business {
    width: 100%;
    height: 520px;
    background: url(../images/main/bg_solution.jpg) no-repeat center 0;
    background-size: cover;
    position: relative;
}
.solution .business > div {
    width: 100%;
    height: 450px;
    color: #fff;
    padding: 150px 0 0 100px;
}
.solution .business > div > h4 {
    font-size: 4rem;
    margin-bottom: 20px;
}
.solution .business > div > p {
    font-size: 2rem;
    font-weight: 300;
}
/* 하단 목록 */
.solution .business > ul {
    width: 100%;
    height: 70px;
    display: flex;
}
.solution .business > ul > li {
    width: calc(100% / 8);
    height: 100%;
    border-right: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.7);
}
.solution .business > ul > li:last-child {
    border-right: 0;
}
.solution .business > ul > li > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 70px;
    text-align: center;
    font-size: 1.8rem;
}
.solution .business > ul > li > a:hover {
    background-color: #f00;
    color: #fff;

    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}



/* ********** product Area Start ********* */
.product .container {
    max-width: none;
    width: 100%;
    position: relative;
    overflow: visible;
}
.product .container .container_title {
    width: 1200px;
    margin: 0 auto;
}
.product .title > h3 > div {
    display: none;
}
/* product_tab_menu */
.product .product_tab_menu {
    width: 1200px;
    height: 50px;
    padding-left: 35%;
    display: flex;
    margin-bottom: 80px;
}
.product .product_tab_menu > li {
    width: 150px;
    height: 100%;
}
.product .product_tab_menu > li > a {
    font-size: 2rem;
    color: #9D9D9D;
    position: relative;
}
.product_tab_menu > li > a::after {
    content: '';
    display: block;
    width: 0;
    height: 6px;
    background-color: #f00;
    position: absolute;
    bottom: -15px;
    left: 50%;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.product_tab_menu > li > a.active {
    color: #000;
}
.product_tab_menu > li > a.active::after {
    width: 100%;
    left: 0;
    right: 0;
}
/* product brand_wrap */
.product .brand_wrap {
    display: inline-block;
    width: 320px;
    height: 340px;
    overflow: hidden;
    position: absolute;
}
.product .brand_wrap .brand_box {
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
}
.product .brand_wrap .brand_box > div {
    width: 90%;
    height: 90%;
    background-color: #fff;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 50;
    opacity: 0;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.product .brand_wrap .brand_box:hover > div {
    opacity: 1;
}
.brand_wrap .brand_box > div > p {
    text-align: center;
}
.brand_wrap .brand_box > div > p:first-child {
    font-size: 2.4rem;
    font-weight: 500;
    padding-top: 17%;
    margin-bottom: 40px;
    position: relative;
}
.brand_wrap .brand_box > div > p:first-child::after {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background-color: #f00;
    position: absolute;
    left: 50%;
    bottom: -20px;
    margin-left: -20px;
}
.brand_wrap .brand_box > div > p:last-child {
    font-size: 1.7rem;
}
/* brand slide */
.product .brand_slide_wrap {
    display: inline-block;
    width: 100%;
    height: 340px;
    overflow: hidden;
    position: relative;
}
.product .brand_slide {
    height: 100%;
    margin-left: 35%;
    position: relative;
    top: 0;
    left: 0;
    display: none;
}
.product .swiper-wrapper {
    height: 100%;
    display: flex;
}
.product .swiper-slide {
    width: 320px;
    height: 340px;
    flex-shrink: 0;
    display: block;
    position: relative;
}
.product .slide_box {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 50px;
}
.product .slide_box > img {
    width: 200px;   
}
.product .slide_box > div {
    font-size: 2rem;   
}
.product .slide_hover {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    text-align: center;
    padding: 30px;
    opacity: 0;

    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.product .slide_hover:hover {
    opacity: 1;
}
.product .slide_hover > div {
    font-size: 2.4rem;
}
.product .slide_hover > p {
    font-size: 1.7rem;
    padding-top: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
    
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -o-line-clamp: 2;
    -ms-line-clamp: 2;
    /* line-clamp: 2; */
    
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -ms-box-orient: vertical;
    /* box-orient: vertical; */
    
    word-wrap:break-word;
}
.product .slide_hover > a {
    display: inline-block;
    width: 110px;
    height: 30px;
    line-height: 30px;
    font-size: 1.4rem;
    border: 1px solid #000;
    border-radius: 15px;
    margin-top: 30px;
}
/* .product .swiper-scrollbar {
    width: 100%;
    position: absolute;
    bottom: -60px;
    left: 0;
} */




/* ********** news Area Start ********* */
.news {
    background-color: #F2F2F2;
}
.news .news_more {
    width: 65%;
    margin: 0 0 30px 35%;
}
.news .news_more a {
    font-size: 1.8rem;
}
.news .news_more a::after {
    content: '';
    display: inline-block;
    width: 23px;
    height: 13px;
    background: url(../images/main/ico_btn_dir_bk.png) no-repeat 0 0;
    background-size: cover;
    margin-left: 10px;
}
/* news slider */
.news .news_slider_container {
    width: 770px;
    height: 470px;
    position: relative;
    z-index: 10;
    margin-left: 35%;
}
.news .news_slider {
    width: 100%;
    height: 100%;
}
.news .white_area {
    width: 500px;
    height: 260px;
    position: absolute;
    bottom: 0;
    left: -150px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 60px;
    overflow: hidden;
}