@charset "utf-8";


/* ******************** 공통영역 구성시작 ******************** */
/* page_title */
.page_title {
    width: 130%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center 0;
    position: relative;
    left: -15%;
    margin-top: 90px;
    border-radius: 0 0 50% 50%;
}
.page_title > div {
    position: absolute; 
    left: 50%; 
    top: 50%;
    
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    color: #fff;
    text-align: center;
}
.page_title > div h2 {
    font-size: 5rem;
    margin-bottom: 20px;
}
.page_title > div > span {
    font-size: 2.8rem;
}

/* page_nav */
.page_nav {
    width: 100%;
    height: 32px;
}
.page_nav > ul {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    padding-left: 60px;
}
.page_nav > ul > li {
    height: 100%;
    float: left;
    position: relative;
}
.page_nav > ul > li:first-child {
    width: 15px;
    margin-right: 50px;
}
.page_nav > ul > li:nth-child(2) {
    margin-right: 50px;
}
.page_nav > ul > li:first-child::after,
.page_nav > ul > li:nth-child(2)::after {
    content: '';
    display: block;
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -30px;
    background: url(../images/intro/ico_arr_rt.png) no-repeat 0 center;
}
.page_nav > ul > li:first-child > a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/intro/ico_home.png) no-repeat 0 center;
}
.page_nav > ul > li:nth-child(2) > a { 
    display: block;
    height: 100%;
    font-size: 1.5rem;
    line-height: 32px;
    color: #999;
}
.page_nav > ul > li:nth-child(3) > span {
    display: block;
    width: 100px;
    height: 100%;
    line-height: 32px;
    position: relative;
}
.page_nav > ul > li:nth-child(3) > span > label {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
.page_nav > ul > li:nth-child(3) > span > label::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    right: 0;
    background: url(../images/intro/ico_select.png) no-repeat 0 center;
    background-size: contain;
}
.page_nav > ul > li:nth-child(3) > span > select {
    display: inline-block;
    width: 100%;

    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;

    background: transparent;
    line-height: 32px;
    color: #000;
    font-weight: bold;
    border: none;
    font-size: 1.4rem;
    position: relative;
    z-index: 20;
    padding: 3px 0 3px 5px;
}
/* IE 10, 11의 네이티브 화살표 숨기기 */
.page_nav > ul > li:nth-child(3) > span > select::-ms-expand {
    display: none;
}




/* ******************** 개별영역 구성시작 ******************** */
/* ******************** intro.html ********************* */
.page_title.intro {
    background-image: url(../images/intro/bg_top_vision.png);
}

/* intro_intro */
.intro_intro {
    width: 100%;
    padding-top: 80px;
    text-align: center;
}
.intro_intro > h3 {
    font-size: 5.4rem;
    letter-spacing: -2px;
}
.intro_intro > h3 > span {
    display: block;
    font-weight: 400;
    line-height: 1.2;
}
.intro_intro > h3 > span:nth-child(2) {
    font-weight: 700;
}
.intro_intro > h3 > span:nth-child(2) > span {
    color: #ee1b22;
}
.intro_intro > .dots {
    width: 10px;
    margin: 30px auto;
}
.intro_intro > .dots > div {
    width: 7px;
    height: 7px;
    background-color: #ee1b22;
    border-radius: 50%;
    margin-bottom: 20px;
}
.intro_intro > .dots > div:last-child {
    margin-bottom: 0;
}
.intro_intro > p {
    color: #666;
    font-size: 2.8rem;
    word-break: keep-all;
    letter-spacing: -2px;
    margin-bottom: 120px;
}
.intro_intro > p > span {
    display: block;
}


/* intro_vision */
.intro_vision {
    background: url(../images/intro/bg_vision.jpg) no-repeat center center;
    background-size: cover;
    padding: 80px 0;
    text-align: center;
}
.intro_vision > h3 {
    font-weight: 700;
    font-size: 5rem;
}
.intro_vision > h3 > span {
    display: block;
}
.intro_vision > h3 > span:nth-child(2) > span {
    font-weight: 400;
    color: #666;
}
.intro_vision > div > div {
    margin-top: 90px;
}
.intro_vision > div > div > h4 {
    font-size: 4.8rem;
    line-height: 1;
    color: #ee1b22;
    margin-bottom: 40px;
}
.intro_vision > div > div > h5 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.intro_vision > div > div > p {
    font-size: 2.2rem;
    color: #666;
}
.intro_vision > div > div > p > span {
    display: block;
}
.intro_vision .value > ul {
    max-width: 1200px;
    margin: 0 auto;
}
.intro_vision .value > ul > li {
    width: 25%;
    float: left;
    vertical-align: top;
}
.intro_vision .value > ul > li > .white_circle {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
}
.intro_vision .value .white_circle > div {
    font-size: 2.6rem;
    font-weight: 700;
    background-repeat: no-repeat;
    background-position: center 45px;
    padding-top: 145px;
}
.intro_vision .value > ul > li:first-child > .white_circle > div {
    background-image: url(../images/intro/bg_value01.png);
}
.intro_vision .value > ul > li:nth-child(2) > .white_circle > div {
    background-image: url(../images/intro/bg_value02.png);
}
.intro_vision .value > ul > li:nth-child(3) > .white_circle > div {
    background-image: url(../images/intro/bg_value03.png);
}
.intro_vision .value > ul > li:nth-child(4) > .white_circle > div {
    background-image: url(../images/intro/bg_value04.png);
}
.intro_vision .value > ul > li > p {
    font-size: 2.2rem;
    margin-top: 30px;
    letter-spacing: -2px;
    word-break: keep-all;
}




/* ******************** solution.html ********************* */
.page_title.solution {
    background-image: url(../images/solution/bg_top_business.png);
}

/* solution_intro */
.solution_intro {
    width: 100%;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 20px;
}
.solution_intro > p {
    font-size: 4rem;
    padding-bottom: 100px;
}
.solution_intro > p > span {
    display: block;
    word-break: keep-all;
}
.solution_intro > p > span:last-child > span {
    color: #ee1b22;
    font-weight: 700;
}
.solution_intro > ul {
    max-width: 1200px;
    margin: 0 auto;
}
.solution_intro > ul > li {
    float: left;
    width: 33.33%;
}
.solution_intro > ul > li > div {
    width: 376px;
    height: 376px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
}
.solution_intro > ul > li > div::after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border: 4px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    left: calc(50% - 16px);
}
.solution_intro > ul > li:first-child > div,
.solution_intro > ul > li:first-child > div::after {
    background-color: #EE1C23;
}
.solution_intro > ul > li:nth-child(2) > div,
.solution_intro > ul > li:nth-child(2) > div::after {
    background-color: #EC670D;
}
.solution_intro > ul > li:nth-child(3) > div,
.solution_intro > ul > li:nth-child(3) > div::after {
    background-color: #EC870D;
}
.solution_intro > ul > li > div > div {
    color: #fff;
    font-size: 3.6rem;
    font-weight: 700;
    padding-top: 200px;
    background-repeat: no-repeat;
    background-position: center 90px;
}
.solution_intro > ul > li:first-child > div > div {
    background-image: url(../images/solution/business_step01.png);
}
.solution_intro > ul > li:nth-child(2) > div > div {
    background-image: url(../images/solution/business_step02.png);
}
.solution_intro > ul > li:nth-child(3) > div > div {
    background-image: url(../images/solution/business_step03.png);
}   

/* solution_solution */
.solution_solution {
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 120px;
}
.solution_solution .solution_bg1 {
    width: 542px;
    height: 773px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/solution/bg_light_01.png) 0 0 no-repeat;
}
.solution_solution .solution_bg2 {
    width: 250px;
    height: 421px;
    position: absolute;
    top: 733px;
    left: 0;
    background: url(../images/solution/bg_light_02.png) 0 0 no-repeat;
}
.solution_solution .solution_bg3 {
    width: 528px;
    height: 519px;
    position: absolute;
    top: 410px;
    right: 0;
    background: url(../images/solution/bg_light_04.png) 0 0 no-repeat;
}
.solution_solution > h3 {
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 80px;
}
.solution_solution > ul {
    max-width: 1200px;
    position: relative;
    z-index: 11;
    margin: 0 auto 115px;
}
.solution_solution ul > li {
    float: left;
    width: 25%;
    background-color: #fff;
    padding: 0 9px 9px 0;
}
.solution_solution ul > li > div {
    height: 330px;
    padding-top: 157px;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #f7f7f7;
    background-repeat: no-repeat;
    background-position: center 50px;
    box-shadow: 4px 5px 7px 1px rgba(66, 66, 66, 0.2);
    position: relative;
}
.solution_solution ul > li:first-child > div {
    background-image: url(../images/solution/bg_businessfood01.png);
}
.solution_solution ul > li:nth-child(2) > div {
    background-image: url(../images/solution/bg_businessfood02.png);
}
.solution_solution ul > li:nth-child(3) > div {
    background-image: url(../images/solution/bg_businessfood03.png);
}
.solution_solution ul > li:nth-child(4) > div {
    background-image: url(../images/solution/bg_businessfood04.png);
}
.solution_solution ul > li:nth-child(5) > div {
    background-image: url(../images/solution/bg_businessfood05.png);
}
.solution_solution ul > li:nth-child(6) > div {
    background-image: url(../images/solution/bg_businessfood06.png);
}
.solution_solution ul > li:nth-child(7) > div {
    background-image: url(../images/solution/bg_businessfood07.png);
}
.solution_solution ul > li:nth-child(8) > div {
    background-image: url(../images/solution/bg_businessfood08.png);
}
.solution_solution .solution_txt > div:first-child {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}
.solution_solution .solution_txt > div:nth-child(2) {
    font-size: 2rem;
    font-weight: 700;
    color: #ee1b22;
    line-height: 1.2;
    margin-bottom: 15px;
}
.solution_solution .solution_txt > div:nth-child(3) {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    color: #666;
}
.solution_solution ul > li > div > div:last-child {
    width: 100%;
    height: 100%;
    border: 3px solid #ee1b22;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.solution_solution ul > li > div > div:last-child > a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../images/solution/ico_more2.png) no-repeat center center;
    background-color: #ee1b22;
    position: absolute;
    right: -2px;
    bottom: -2px;
}

/* solution_partner */
.solution_partner {
    width: 100%;
    background-color: #f2f2f2;
    padding-top: 120px;
}
.solution_partner h3 {
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
}
.solution_partner ul {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0 120px 0;
}
.solution_partner ul > li {
    width: 16.66%;
    height: 108px;
    line-height: 108px;
    text-align: center;
    float: left;
    background-color: #fff;
    border-width: 0 1px 1px 0;
    border-color: #e8e8e8;
    border-style: solid;
}
.solution_partner ul > li > img {
    vertical-align: middle;
}




/* ******************** media Query ********************* */
@media only screen and (max-width:1462px) {
    .page_nav > ul {
        padding-left: 20px;
    }
}
@media only screen and (max-width:1200px) {
    .page_nav > ul {
        width: 300px;
        margin: 60px auto 0 auto;
    }

    /* intro */
    .intro_vision {
        padding: 80px 20px;
    }
}
@media only screen and (max-width:1120px) {
}
@media only screen and (max-width:1040px) {
}
@media only screen and (max-width:1024px) {
    .page_title {
        margin-top: 82px;
    }
    .page_title > div > span {
        display: block;
    }

    /* intro */
    .intro_vision > h3 {
        font-size: 4rem;
    }
    .intro_vision > div > div > h5 {
        font-size: 3.4rem;
        line-height: 1.2;
    }
    .intro_vision .value > ul > li {
        width: 50%;
    }
    .intro_vision .value > ul > li:first-child,
    .intro_vision .value > ul > li:nth-child(2) {
        margin-bottom: 50px;
    }
}
@media only screen and (max-width:824px) {
}
@media only screen and (max-width:768px) {
    .page_title > div h2 {
        font-size: 4rem;
    }
    .page_nav {
        display: none;
    }

    /* intro */
    .intro_intro > h3 {
        font-size: 4.4rem;
    }
    .intro_intro > p > span {
        display: inline;
    }
    .intro_vision > h3 {
        font-size: 3.2rem;
    }
    .intro_vision > div > div > h5 {
        font-size: 2.8rem;
    }
}
@media only screen and (max-width:640px) {
    .page_title {
        margin-top: 48px;
    }
    .page_title > div h2 {
        font-size: 3.2rem;
    }
    .page_title > div > span {
        font-size: 2rem;
    }

    /* intro */
    .intro_intro > h3 {
        font-size: 3.4rem;
    }
    .intro_intro > p {
        font-size: 2rem;
    }
    .intro_intro > p > span {
        display: block;
    }
    .intro_vision > h3 {
        font-size: 2.8rem;
    }
    .intro_vision > div > div > h4 {
        font-size: 3.2rem;
    }
    .intro_vision > div > div > h5 {
        font-size: 2.4rem;
    }
    .intro_vision .value > ul > li {
        width: 100%;
        margin-bottom: 40px;
    }
    .intro_vision .value > ul > li:last-child {
        margin-bottom: 0;
    }
}
@media only screen and (max-width:536px) {
    /* intro */
    .intro_vision > h3 > span {
        display: inline;
        word-break: keep-all;
    }
    .intro_vision > div > div > h5 {
        word-break: keep-all;
    }
    .intro_vision > div > div > p {
        font-size: 2rem;
    }
    .intro_vision > div > div > p > span {
        display: inline;
        word-break: keep-all;
    }
}
@media only screen and (max-width:448px) {
    /* intro */
    .intro_intro > h3 {
        font-size: 3rem;
    }
}
@media only screen and (max-width:376px) {
}